<% if logged_in? %>
<div class="row">
	<aside class="col-md-4">
		<section class="user_info">
			<%= render 'shared/user_info' %>
		</section>
		<section class="stats">
			<%= render 'shared/stats' %>
		</section>
		<section class="micropost_form">
			<%= render 'shared/micropost_form' %>
		</section>
	</aside>
	<div class="col-md-8">
		<h3>Your Events!</h3>
    <div class="row">
      <%= will_paginate @feed_items %>
      <%= form_tag search_path, :method => 'get', :id => "micropost_search" do %>
        <div class="form-group">
          <div class="input-group">
            <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search..." %>
            <span class = "input-group-btn">
                <%= button_tag(type: "submit", class: "btn btn-default") do %>
                    <i class="glyphicon glyphicon-search"></i>
                <% end %>
            </span>
          </div>
        </div>
      <% end %>
    </div>
		<ol id="the_feed" class="microposts">
			<%= render 'shared/feed' %>
		</ol>
		<%= will_paginate @feed_items %>
	</div>
</div>
<% else %>
<div class="center jumbotron">
	<h1>Welcome to UR Event Feed</h1>

	<h2>
		The hottest web application at the University of Rochester!
	</h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("UR_BUZZ_Logo.png", alt: "UR BUZZ logo")%>
<% end %>